# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django stuff
db.sqlite3
media/
staticfiles/
logs/
*.log
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
